@model IEnumerable<MovieModel.MovieBySearch>

@{
    ViewData["Title"] = "Search";
}

<div class="container text-center p-3 my-4 w-50 border-bottom border-2 border-danger bg-dark text-white" style="border-radius:10px">
    <form asp-controller="Search" asp-action="Index" class="row d-flex justify-content-center align-items-center row-cols-1 row-cols-md-2">
        <div class="col">
            <input type="text" class="col desktop" placeholder="Movie Title" name="search" />
            <input type="text" class="col mobile" style="width:100%" placeholder="Movie Title" name="search" />
        </div>
        <div class="col">
            <input type="submit" class="col btn btn-outline-light mx-3" value="Search" />
        </div>
    </form>
</div>

<div class="container text-center">
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
        @foreach (var movie in Model)
        {
            <div class="col desktop">
                <div class="card border border-danger border-2">
                    <img src="@movie.Poster" alt="@movie.Title">
                    <div class="card-body bg-black">
                        <h5 class="card-title text-white">@movie.Title</h5>
                        <p class="card-text text-light">Released in @movie.Year</p>
                        <a class="btn btn-outline-danger stretched-link" asp-action="Movie" asp-route-id="@movie.imdbID">Information</a>
                    </div>
                </div>
            </div>
            <div class="col my-4 mobile">
                <div class="card border border-danger border-2">
                    <img src="@movie.Poster" alt="@movie.Title">
                    <div class="card-body bg-black">
                        <h5 class="card-title text-white">@movie.Title</h5>
                        <p class="card-text text-light">Released in @movie.Year</p>
                        <a class="btn btn-outline-danger stretched-link" asp-action="Movie" asp-route-id="@movie.imdbID">Information</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
