@model IEnumerable<MovieModel.Movie>

@{
    ViewData["Title"] = "Home Page";
    int i = 0;
}

<div class="container text-center">
    <h1 class="display-1">Welcome to <p style="color:red">SearchMovie</p></h1>
    <p class="display-6" style="">The tool that help you find <i>interesting</i> movies</p>
</div>

<div class="container text-center p-3 my-4 w-50 border-bottom border-2 border-danger bg-dark text-white" style="border-radius:10px">
    <form asp-controller="Search" asp-action="Index" class="row d-flex justify-content-center align-items-center row-cols-1 row-cols-md-2">
        <div class="col">
            <input type="text" class="col" placeholder="Movie Title" name="search" />
        </div>
        <div class="col">
            <input type="submit" class="col btn btn-outline-light mx-3" value="Search" />
        </div>
    </form>
</div>

<div class="container text-center col">
    @foreach (var movie in Model)
    {
        i++;
        if (i % 2 == 0)
        {
            <div class="container-fluid row align-items-center justify-content-center p-3 row-cols-1 row-cols-sm-2 my-5">
                <div class="col border-dark border p-sm-3 my-3">
                    <h2 class="text-lg-end">@movie.Title</h2>
                    <h5 class="text-md-end">Released in @movie.Year</h5>
                    <p class="text-md-end text-decoration-underline">@movie.Genre</p>
                    <span class="text-md-end"><strong>Starring</strong>: @movie.Actors</span>
                    <p class="text-md-end m-sm-2 border-top border-bottom p-2">@movie.Plot</p>
                </div>
                <div class="col justify-content-end align-items-center">
                    <img src="@movie.Poster" class="img-fluid border border-2 border-danger shadow-lg" alt="@movie.Title">
                </div>
            </div>
        }
        else
        {
            <div class="container-fluid row align-items-center justify-content-center p-3 row-cols-1 row-cols-sm-2 my-5">
                <div class="col justify-content-end align-items-center">
                    <img src="@movie.Poster" class="img-fluid border border-2 border-danger shadow-lg" alt="@movie.Title">
                </div>
                <div class="col border-dark border p-sm-3 my-3">
                    <h2 class="text-lg-start">@movie.Title</h2>
                    <h5 class="text-md-start">Released in @movie.Year</h5>
                    <p class="text-md-start text-decoration-underline">@movie.Genre</p>
                    <span class="text-md-start"><strong>Starring</strong>: @movie.Actors</span>
                    <p class="text-md-start m-sm-2 border-top border-bottom p-2">@movie.Plot</p>
                </div>
            </div>
        }
    }
</div>